{% extends 'base.html.twig' %}

{% block title %}Conférence de {{ conference.name }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ conference.name }}</h1>
        <p>{{ conference.createdAt.date }}</p>
        <p>{{ conference.description }}</p>
        <div class="rating">
            <a href="#1" title="Donner 1 étoile">☆</a>
            <a href="#2" title="Donner 2 étoiles">☆</a>
            <a href="#3" title="Donner 3 étoiles">☆</a>
            <a href="#4" title="Donner 4 étoiles">☆</a>
            <a href="#5" title="Donner 5 étoiles">☆</a>
        </div>
    </div>

{% endblock %}