.custom {
    padding: 0px 10px;
}

.mt {
    margin-top: 30px;
}

/*#toast-container {*/
    /*top: auto !important;*/
    /*right: auto !important;*/
    /*bottom:  auto !important;*/
    /*left: auto !important;*/
/*}*/

.rating {
    direction: rtl;
}

.rating a {
    color: #aaa;
    text-decoration: none;
    font-size: 3em;
    transition: color .4s;
    float: right;
}

.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
    color: orange;
    cursor: pointer;
}

h4
{
    text-align:center;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: #039be5;
    margin-right: 24px;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    text-transform: uppercase;
}

/**
STYLE CSS FOR PAGINATION BUTTON
 */


.pagination li a {
    color: black;
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 30px;
}

.pagination
{
    font-weight: bold;
    text-align: center;
}


li, li:before, li:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    color: #039be5;
}
