.custom {
    padding: 0px 10px;
}
.mt{
    margin-top: 30px;
}
.rating {
    direction: rtl;
}
.rating a{
    color: #aaa;
    text-decoration: none;
    font-size: 3em;
    transition: color .4s;
    float: right;
}
.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
    color: orange;
    cursor: pointer;
}