<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}

    {% endblock %}
</head>
<body>
{% include 'navBar.html.twig' %}
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/commun/dateTimePicker-min.js') }}"></script>
    <script src="{{ asset('js/security/register.js') }}"></script>
{% endblock %}
</body>
</html>
