{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
    {% block body %}
        <div class="container mt-2">
            <table class="bordered striped centered highlight">
                <thead>
                <tr class="">
                    <th>ID</th>
                    <th>Titre</th>
                    <th>Moyenne score</th>
                </tr>
                </thead>
                <tbody>
                {% for conference in conferences %}
                    <tr>
                        <td>{{ conference.id }}</td>
                        <td>{{ conference.name }}</td>
                        <td>{% for i in 1..conference.score_avg %}
                                ⭐
                            {% endfor %}
                          {{   conference.score_avg }}
                            </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}



