{% extends 'base.html.twig' %}
{% block body %}
    <table>
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Date d'anniversaire</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.birthday|date("d/m/Y") }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}