{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Date d'anniversaire</th>
            </tr>
        </thead>
        <tbody>
            {% for users in user %}
                <tr>
                    <td>{{ users.firstname }}</td>
                    <td>{{ users.lastname }}</td>
                    <td>{{ users.email }}</td>
                    <td>{{ users.birthday.date }}</td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
